.yo{
    max-width: 9%;
    height: auto;
    position: absolute;
    top: 50px;
    z-index: 1;
    right: 60px;
    opacity: 60%;
    transition:  0.5s ease; 
      }


      .yo:hover{
        opacity: 100%;
        transform: scale(1.2);
      }

      .yo2{
        max-width: 20%;
        height: auto;
        top: 10px;
        right: 50px;
        opacity: 40%;
        transition:  0.5s ease;
          }

          .yo2:hover{
            transition:  0.5s ease; 
            opacity: 90%;
          }
    

      .weirdguy{
        max-width: 20%;
        height: auto;
        position: absolute;
        bottom: -300px;
        z-index: 1;
        right: 20px;
        opacity: 40%;
        transition:  0.5s ease; 
        transform:  scaleX(-1);
        margin-top:-50%
          }

          .weirdguy:hover{
            transition:  0.5s ease; 
            opacity: 90%;
          }
    

          .phonz{
            max-width: 40%;
            height: auto;
            position: absolute;
            bottom: -400px;
            z-index: 1;
            left: 10px;
            opacity: 40%;
            transform: scaleX(-1);
            transition:  0.5s ease; 
            margin-top:-30%
              }

              .phonz:hover{
                transition:  0.5s ease; 
                opacity: 90%;
              }



              .moods2{

             width: 100%;
             opacity: 60%;
             transition: scale 0.3s ease; 
             scale: 1;
              }
        

              .moods2:hover{
                
                opacity: 100%;
                scale:1.5;
              }
        
