body{
   background-color: #FAF3E4    ;
font-family: 'Cutive Mono', monospace;
display: flex;
flex-direction: column;
margin: 20px;

}

p{
    font-size: 20px;
    font-weight: bolder;
}


h1{
    font-family: 'Reenie Beanie', cursive;
    font-size: 120px;
    margin: 10px;

}

h2{
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    margin: 30px;

   
}


.resumetext {
    margin: 10px;
    font-size: 20px;
    margin-left: 60px;
}

.resumetext2 {
    margin: 10px;
    font-size: 15px;
    inline-size: 20px;
    margin-left: 60px;
}

a {
    color: hotpink;
    text-decoration: none;
  }

  a:hover{

    text-decoration:underline;
    
  }

/* here goes the animation for the index links */

.indexlink{
    display: inline-block;
    padding: 1px 4px;
    transition:  transform 0.2s ease;
}

.indexlink:hover {
   
    animation: wiggle 0.4s ease infinite; 
}


@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}




  #natalia a{
    margin-left: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #natalia a:hover{
    text-decoration: none;
    color: hotpink;
  }

  .container{

  background-color: #FAF3E4;
    font-family: 'Cutive Mono', monospace;
    display: flex;
    align-items: center;
  
    }


    .columns{
        display: flex;
        justify-content: space-between; 
        width: 90%; 
        margin: 60px;
        border-style: dashed;
        padding: 50px;
     
    }
  .column{
    flex: 1;  
    margin: 10px;
  }

  .row{
    width: 100%;
   /*background-color: #ffdc85;*/
   background-color: #fae5b0;
    padding: 20px;
    margin: 10px;

  }

  #animationrow{

    background-color: none;

  }


  .natimage{
max-width: 100%;
height: auto;
position: relative;
top: 0;
  }

  .baby{
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 260px;
    z-index: 1;
    left: 250px;
    opacity: 40%;
    transition:  0.5s ease; 

      }

      .baby:hover{
        transition:  0.5s ease; 
        opacity: 90%;
          }


      /*images grid */
      .rows {
        margin: 8px -16px;
        padding: 40px;
        justify-content: space-between;
      }

      .columns1 {
        float: left;
        width: 25%;
      }


      /* Clear floats after rows */
.rows:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* Content */
  .contentgrid {
    padding: 10px;
  }

  


.gif {
    width: 50%;
    height: 50%;
    object-fit: fill;
    transition: transform 0.3s ease; 
    align-content: center;
}


.experience{

    margin: 30px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust as needed for smaller screens */
    }

    h1 {
        font-size:90px;
    }

    h2 {
        font-size:30px;
    }

    p {
        font-size: 10px
    }

    .resumetext {
        margin: 10px;
        font-size: 10px;
    }

    a{

        font-size: 40px;
        word-break:break-all;
    }

   
}


#indextext {
    margin: 20px;
    word-wrap: normal;
}


#addspaceforgirlicon{

    margin-top: 130px;
}

#addmargin{

    margin: 60px;
}

#education{
list-style: none;
margin: 10px;

 
}

