.rowwebsites {

    background-color: #fae5b0;
    justify-content: flex-start;
    text-align: left;
    margin: 10px;
    
  
}

.columns{

width: 100%; 
text-align: left;

}


.websitessheader{

    font-size: 80px;
}

.resumetext.websitesheader2{

    font-size: 20px;
}

h1{

    font-size: 60px;
}


p{
    text-align: center;
}