.rowwebsites {
display: flex;
flex-direction: column;
    background-color: #fae5b0;
    justify-content: flex-start;
    text-align: center;
    margin: 10px;
  
  
}

.columns{

width: 100%; 
text-align: left;

}


.websitessheader{

    font-size: 80px;
}

.resumetext.websitesheader2{

    font-size: 20px;
}



h1{

    font-size: 60px;
}


p{
    text-align: center;
}

#lover {
    width:30vw;

    transition: width 3s ease;

}

#lover:hover{
    width: 100vw;
  
  
}

#one {
    width:30vw;
    transition: width 3s ease;

}

#one:hover{
    width: 100vw;
  
}

#dumped {
    width:30vw;
    transition: width 3s ease;

}

#dumped:hover{
    width: 100vw;
  
}
